<header class="bg-white top-0 left-0 right-0 z-10 py-4">
  <nav class="flex ">
    <div class="flex justify-center items-center w-1/2">
      <div>
        <p class="text-2xl text-[#115efb] font-semibold font-rubik">Gadget <span class=" text-black">Hub</span></p>
      </div>
    </div>
    <div class="flex justify-center items-center w-1/2">

      <div>
        <button class="gap-3 bg-transparent text-gray-800 font-bold px-4 rounded inline-flex items-center">

          <img src="/assets/icons/catalog.svg" alt="catalog_icon">

          <span class="text-[#115efb] text-base font-medium font-rubik">Каталог</span>
        </button>
      </div>

      <div>
        <button class="gap-3 bg-transparent text-gray-800 font-bold px-4 rounded inline-flex items-center">

          <img src="/assets/icons/profile.svg" alt="catalog_icon">

          <span class="text-[#115efb] text-base font-medium font-rubik">Войти</span>
        </button>
      </div>
    </div>
  </nav>

</header>
