<header class="bg-white top-0 left-0 right-0 z-10 py-2">
  <nav class="flex ">
    <div class="flex justify-center items-center w-1/2">
      <button (click)="goToHome()">
        <p class="text-2xl text-[#115efb] font-semibold font-rubik">Gadget <span class=" text-black">Hub</span></p>
      </button>
    </div>
    <div class="flex justify-center items-center w-1/2">
      <div>
        <button (click)="goToCatalog()" class="px-5 py-3 gap-3 bg-transparent text-gray-800 font-bold rounded inline-flex items-center hover:bg-[#f2f5f9]">
          <img src="/assets/icons/catalog.svg" alt="catalog_icon">
          <span class="text-[#115efb] text-base font-medium font-rubik">Каталог</span>
        </button>
      </div>

      <div>
        <button (click)="goToLogin()" class="px-5 py-3 gap-3 bg-transparent text-gray-800 font-bold rounded inline-flex items-center hover:bg-[#f2f5f9]">
          <img src="/assets/icons/profile.svg" alt="catalog_icon">
          <span class="text-[#115efb] text-base font-medium font-rubik">Войти</span>
        </button>
      </div>
    </div>
  </nav>

</header>
